:root {
    --dark-blue: #222222;
    --pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --brown: #474040;
}

body {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.content-center {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 96px;
}

.heading_registration {
    margin: 0 0 64px;
    background-color: #F8F3F4;
    min-height: 148px;
    display: flex;
    align-items: center;
}

.heading_registration-title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #F16D7F;
}

.input {
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
    font-style: normal;
    padding: 14px 0 14px 17px;
    margin: 21px 0 0;
    box-sizing: border-box;
    border: 1px solid #A4A4A4;
}

.input-name {
   flex-direction: column; 
}

.radio {
    border: 2px solid #A4A4A4;
    box-sizing: border-box;
}

.input_radio {
    margin: 32px 0 33px;
    display: flex;
}

input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
}

.registration-form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 96px;
}

.input-name {
    display: flex;
    flex-direction: column;
}

.registration-info {
    width: 652px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    font-style: normal;
}

.registration-send {
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
    font-style: normal;
    color: #B1B1B1;
    margin: 16px 0 39px;
    width: 360px;
}

.registration__info-text {
    margin: 22px 0 21px;
}

.registration__info-item::before {
    content: '';
    background-image: url(../img/vector.svg);
    width: 20px;
    height: 16px;
    margin: 0 23px 0 0;
}



.registration__info-title {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    font-style: normal;  
}

.registration_form {
    width: 360px;
    
}

.registration__info-item {
    margin: 0 0 16px;
    display: flex;
    align-items: center;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222222;
}

.header__navigation-press {
    text-decoration: solid;
}

.header {
    background-color: var(--dark-blue);
}

.input_radio-label {
    font-size: 11px;
    line-height: 13px;
    font-weight: 300;
    font-style: normal;
    color: #222222;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
}

.header_input {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222; 
}



.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 75px;
    position: relative;
}

.header__navigation {
    display: none;
    position: absolute;
    min-height: 765px;
    top: 100%; 
    right: 0; 
    box-shadow: 6px 4px 35px rgb(0 0 0 / 21%);
    padding: 37px 33px 0; 
    box-sizing: border-box; 
    width: 232px;
    background-color: #FFFFFF;
    z-index: 1;
}

.header #toggle:checked ~ .header__navigation {
    display: block;
    right: 0;
}

.header__navigation-menu {
    padding-bottom: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.header__navigation-list {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    padding-bottom: 12px;
}

.header__navigation-button {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding-left: 25px;
    padding-bottom: 20px;
}

.header__button {
    background-color: transparent;
    border: none;
    margin: 0 34px 0 0;
    min-height: 75px; 
}

.header__logo {
    margin: 0 40px 0 0;
}

.header__person-link {
    margin: 0 34px 0 0;
}

.header__button:hover + .header__navigation {
    display: block; 
}

.header__navigation:hover { 
    display: block;
}
/*
.brand {
    display: flex;
    margin: 0 0 63px;
    background-color: var(--pink);
}

.brand_logo {
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
    background-color: rgba(113, 103, 105, 0.08);
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
    border-left: 12px solid #F16D7F;
    display: inline-block;
    padding-left: 16px;
}

.brand__title-wrapper {
    padding: 0 0 0 91px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}
Все что выше
Вариант для старой версии
*/

.brand {
    display: flex;
    margin: 0 0 63px;
}

.brand__img-wrapper {
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
    background-color: rgba(113, 103, 105, 0.08);
}

.brand__img {
    width: 800px;
    height: 765px;
}

.brand__heading-wrapper {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    background-color: #F1E4E6;
    padding: 0 0 0 92px;
}

.brand__heading {
    width: 66%;
    font-size: 48px;
    line-height: 58px;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    position: relative;
    margin: 10px 0;
}

.brand__heading::before {
    content: '';
    width: 12px;
    height: 100%;
    background-color: #F16D7F;
    position: absolute;
    left: -28px;
    bottom: 0;
}

.brand__subtitle {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    font-style: normal;
    display: block;
}

.brand__subtitle-pink {
    color: #F16D7F;
}

.aside-box {
    width: 12px;
    height: 92px;
    background-color: dark-pink#F16D7F;
}

.brand__subtitle {
    display: block;

    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__subtitle-pink {
    color: var(--dark-pink);
}

.offers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.offer__title {
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 5px;
}
.offer__paragraph {
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #F16D7F;
    font-weight: 700;
    text-align: center;
}

.offers__item {
    color: white;
    width: 360px;
    min-height: 260px;
    background-color: var(--brown);
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers__item--woman {
    background-image: url(../img/woman.jpg);
}

.offers__item--man {
    background-image: url(../img/offers-man.jpg);
}
.offers__item--kids {
    background-image: url(../img/kids.jpg);
}

.offers__item--accesories {
    background-image: url(../img/accesoires.jpg);
    width: 100%;
    margin: 0;
    min-height: 180px;
}

.products {
    margin-top: 97px;
}

.products__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
}

.products__paragraph {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #9F9F9F;
    text-align: center;
    padding-top: 6px;
}

.products__list--card {
    background-color: #f8f8f8;
    min-height: 581px;
    width: 360px;
}

.products__list--title {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 25px;
}
.products__list--paragraph {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-top: 13px;
}
.products__list--priсe {
    font-size: 16px;
    line-height: 19px;
    color:#F16D7F;
    padding-top: 18px;
}

.products__list--cardbox {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
}

.button {
    color: #F16D7F;
    background-color: #f8f8f8;
    padding: 15px 39px;
    display: block;
    position: relative;
    margin: 48px auto;
    border: 1px solid #FF6A6A;
}

.advantages {
    min-height: 341px;
    background-color: #222222;
    display: flex;
    align-items: center;
}
.advantages__list {
    display: flex;
}
.advantages__list--card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__list--title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #FBFBFB;
    padding: 28px 0 16px;
}

.advantages__list--paragraph {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.footer__information {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 448px;
    background-image: url(../img/footer-image.jpg);
    width: 100%;
}

.footer__pagination {
    min-height: 79px;
    background-color: #222222;
}

.footer__information--list {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.footer__information--item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__information--paragraph {
    display: block;
    width: 50%;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    color: #222224;
    padding: 30px 0;
}

.footer__information--heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
}

.footer__information--text {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 5px 0 32px;
}

.button__email {
    background-color: #E1E1E1;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.email__input {
    background-color: #E1E1E1;
    width: 322px;
    right: 0;
    border: 0;
    padding-left: 22px;
    color: #222224;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 14px;
    line-height: 17px;
}

.button__email {
    background-color: #F16D7F;
    width: 100px;
    height: 49px;
    left: 0;
    border: 0;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.footer__pagination {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rights {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.contacts_list {
    list-style-type: none;
    display: flex;
}

.form {
    display: flex;
}

.contacts_list--item {
    display: block;
    width: 32px;
    border: 1px solid;
    height: 32px;
    background-color: #FFFFFF;
    align-items: center;
    display: flex;
    justify-content: center;
}

.contacts_list--item:hover {
    background-color: #F16D7F;
}

.button__registration {
    text-transform: uppercase;
    font-family: 'Lato';
    width: 167px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #F16D7F;
    padding: 16px 0 16px 29px;
    box-sizing: border-box;
    text-align: left;
    border: none;
    position: relative;
    cursor: pointer;
    outline: none;
}

@media (max-width: 1600px) {
    .container {
      width: 71%;
    }
}
  
@media (max-width: 768px) {
    .container {
      width: 96%;
    }
}

@media (max-width: 768px) {
    .header__wrapper {
      margin: 0 16px;
    }
}
  
  @media (max-width: 375px) {
    .header__wrapper {
      margin: 0 8px;
    }
}

@media (max-width: 768px) {
    .header__controls {
      max-width: 50%;
    }
}
  
@media (max-width: 375px) {
    .header__controls {
      max-width: 53%;
    }
}



@media (max-width: 480px) {
    .header__navigation {
      background: none;
    }
}

@media (max-width: 1600px) {
    .header__navigation-list {
      right: 0;
    }
  }
  
  @media (max-width: 768px) {
    .header__navigation-list {
      right: -32px;
    }
  }
  
  @media (max-width: 480px) {
    .header__navigation-list {
      width: 96%;
      right: -15px;
    }
  }

  @media (max-width: 375px) {
    .header__person-link {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .brand {
      margin: 0 0 20px;
    }
  }
  
  @media (max-width: 375px) {
    .brand {
      min-height: 363px;
      margin: 0 0 64px;
    }
  }

  @media (max-width: 375px) {
    .brand__img-wrapper {
      display: none;
    }
  }

  @media (max-width: 1600px) {
    .brand__img {
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: 768px) {
    .brand__heading-wrapper {
      padding: 0 0 0 68px;
    }
  }
  
  @media (max-width: 375px) {
    .brand__heading-wrapper {
      flex-basis: 100%;
    }
  }

  @media (max-width: 768px) {
    .brand__heading {
      font-size: 44px;
      line-height: 53px;
      font-weight: 900;
      font-style: normal;
      width: 100%;
    }
  }
  
  @media (max-width: 375px) {
    .brand__heading {
      font-size: 38px;
      line-height: 46px;
      font-weight: 900;
      font-style: normal;
    }
  }
  
  @media (max-width: 768px) {
    .brand__subtitle {
      font-size: 24px;
      line-height: 29px;
      font-weight: 700;
      font-style: normal;
    }
  }
  
  @media (max-width: 375px) {
    .brand__subtitle {
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      font-style: normal;
    }
  }

  @media (max-width: 768px) {
    .products__text {
      margin: 0 auto 73px;
    }
  }
  
  @media (max-width: 375px) {
    .products__text {
      margin: 0 auto 65px;
      width: 100%;
    }
  }

  @media (max-width: 768px) {
    .products__list {
      margin: 0 0 17px;
    }
  }
  
  @media (max-width: 375px) {
    .products__list {
      margin: 0 0 25px;
    }
}

@media (max-width: 1600px) {
    .products__item {
      width: 32%;
      min-height: auto;
    }
  }
  
  @media (max-width: 768px) {
    .products__item {
      width: 49%;
      min-height: auto;
      margin: 0 0 16px;
    }
  }
  
  @media (max-width: 375px) {
    .products__item {
      width: 100%;
    }
  }

  @media (max-width: 1600px) {
    .products__item-img {
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: 768px) {
    .products__button {
      margin: 0 auto 65px;
    }
  }
  
  @media (max-width: 375px) {
    .products__button {
      margin: 0 auto 97px;
    }
  }

  @media (max-width: 768px) {
    .advantages__list {
      flex-direction: column;
      padding: 48px 0 16px;
    }
  }
  
  @media (max-width: 375px) {
    .advantages__list {
      padding: 48px 8px 34px;
    }
  }

  @media (max-width: 768px) {
    .advantages__item {
      margin: 0 0 48px;
    }
  }
  
  @media (max-width: 375px) {
    .advantages__item {
      margin: 0 0 47px;
      width: 100%;
    }
  }

  @media (max-width: 375px) {
    .advantages__item-car {
      width: 43px;
      height: 31px;
      margin: 0 auto 27px;
    }
  }

  @media (max-width: 375px) {
    .advantages__item-discounts {
      width: 39px;
      height: 39px;
      margin: 0 auto 18px;
    }
  }

  @media (max-width: 375px) {
    .advantages__item-crown {
      width: 45px;
      height: 34px;
      margin: 0 auto 24px;
    }
  }

  @media (max-width: 375px) {
    .advantages__item-heading {
      margin: 0 0 15px;
    }
  }

  @media (max-width: 768px) {
    .subscription {
      background-image: url(../img/subscribe-tablet.jpg);
      background-position: top;
    }
  }
  

  @media (max-width: 768px) {
    .subscription__wrapper {
      flex-direction: column;
      padding: 64px 0 140px;
    }
  }
  
  @media (max-width: 375px) {
    .subscription__wrapper {
      padding: 64px 8px 110px;
    }
  }
    

  @media (max-width: 1024px) {
    .subscription__contorls {
      width: 50%;
      margin: 0 10px 0 0;
    }
  }
  
  @media (max-width: 768px) {
    .subscription__contorls {
      margin: 0 0 65px;
    }
  }
  
  @media (max-width: 480px) {
    .subscription__contorls {
      width: 100%;
    }
  }
  
  @media (max-width: 375px) {
    .subscription__contorls {
      margin: 0 0 59px;
    }
  }

  @media (max-width: 375px) {
    .subscription__img {
      width: 92px;
      height: 92px;
    }
  }

  @media (max-width: 1024px) {
    .subscription__text {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .subscription__text {
      width: 100%;
    }
  }
  
  @media (max-width: 375px) {
    .subscription__text {
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      font-style: normal;
    }
  }

  @media (max-width: 768px) {
    .subscription__form-text {
      margin: 0 0 27px;
    }
  }
  
  @media (max-width: 375px) {
    .subscription__form-text {
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
      font-style: normal;
      margin: 0 0 22px;
    }
  }

  @media (max-width: 375px) {
    .subscription__form-input {
      height: 47px;
      width: 245px;
    }
  }

  @media (max-width: 375px) {
    .subscription__form-button {
      height: 47px;
      width: 96px;
    }
  }
  
  @media (max-width: 1024px) {
    .subscription__form {
      width: 50%;
    }
  }
  
  @media (max-width: 480px) {
    .subscription__form {
      width: 100%;
    }
  } 


  @media (max-width: 768px) {
    .contacts__wrapper {
      padding: 0 16px;
    }
  }
  
  @media (max-width: 375px) {
    .contacts__wrapper {
      flex-direction: column-reverse;
      padding: 41px 0 9px;
    }
  }

  @media (max-width: 375px) {
    .contacts__socials {
      margin: 0 0 39px;
    }
  }
